*.egg-info/
*.pyc
*.sqlite3
.bundle/
.cache
.coverage
.idea/
.sublime-*
.tox
/static/
bower_components/
build/
dist/
htmlcov
infokala/static/infokala/*
node_modules/
nohup.out
npm-debug.log
pip-log.txt
src/
tmp/
virtualenv/
yarn.lock
