.infokala-message {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 1px solid #eee;
}
.infokala-message:hover {
  background-color: #f8f8f8;
}
.infokala-action-row:hover .infokala-next-state {
  display: inline;
}
.infokala-message-form {
  padding-top: 15px;
  padding-bottom: 15px;
}
.infokala-author-col,
.infokala-message-col-middle {
  padding-right: 0;
}
.infokala-inactive {
  color: #ccc;
}
.infokala-message-cycleable,
.infokala-message-text {
  cursor: pointer;
  cursor: hand;
}
.infokala-next-state {
  display: none;
}
.infokala-message-deleted {
  display: none;
}
.infokala-edit-pending {
  font-style: italic;
}
.infokala-timestamp {
  color: #c0c0c0;
}
.infokala-event-create,
.infokala-event-delete,
.infokala-event-statechange,
.infokala-event-edit {
  font-style: italic;
  color: #888;
}
@media screen {
  .infokala-push-top {
    margin-top: 65px;
  }
}
@media print {
  .infokala-message-form {
    display: none;
  }
}
