.infokala-message {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 1px solid #eee;
}
.infokala-message:hover {
  background-color: #f8f8f8;
}
.infokala-message-form {
  padding-top: 15px;
  padding-bottom: 15px;
}
.infokala-author-col,
.infokala-message-col-middle {
  padding-right: 0;
}
@media screen {
  .infokala-push-top {
    margin-top: 65px;
  }
}
@media print {
  .infokala-message-form {
    display: none;
  }
}
