doctype html
html
  head
    meta(charset='UTF-8')
    title Infokala
    link(rel='stylesheet', href='/static/infokala/bootstrap.min.css')
    link(rel='stylesheet', href='/static/infokala/infokala.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(defer, src='config.js')
    script(defer, src='/static/infokala/infokala.js')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href) Infokala
        .collapse.navbar-collapse#base-navbar-collapse(style='display: none', data-bind='visible: true')
          ul.nav.navbar-nav(data-bind='foreach: messageTypeFilters')
            li(data-bind='css: { active: slug === $parent.activeFilter().slug }')
              a(href, data-bind='text: name, click: $parent.activeFilter')
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href, data-toggle='dropdown')
                span(data-bind='text: config.user.displayName')
                b.caret
              ul.dropdown-menu
                li: a(href, data-bind='attr: { href: config.logoutUrl }') Kirjaudu ulos

    .infokala-push-top

    .container(style='display: none', data-bind='visible: true, foreach: visibleMessages')
      .infokala-message(data-bind='click: $parent.cycleMessageState, css: { "infokala-message-cycleable": $parent.isMessageCycleable($data), "infokala-message-deleted": isDeleted }')
        .row
          .col-md-12.text-muted
            .pull-right
              span(data-bind='visible: $parent.isMessageCycleable($data)')
                span.label(data-bind='text: state.name, css: state.labelClass')
                span.infokala-next-state(data-bind='with: $parent.nextState($data)')
                  span.text-muted &thinsp;&rArr;&thinsp;
                  span.label(data-bind='text: name, css: labelClass')
              | &emsp;
              span.label.label-default(data-bind='visible: $parent.shouldShowMessageType(), text: messageType.name')
              | &emsp;
              span.btn.btn-xs.btn-primary.infokala-edit-message-button(data-bind='click: $parent.editMessage, clickBubble: false') &#x270e;
              | &emsp;
              span.btn.btn-xs.btn-danger.infokala-delete-message-button(data-bind='click: $parent.deleteMessage, clickBubble: false') &times;
            .small(data-bind='text: formattedTime')
        .row(data-bind='css: {"infokala-inactive": !state.active}')
          strong.col-md-1(data-bind='text: author')
          .col-md-11(data-bind='text: message, style: {"display": $parent.editingMessage() === id ? "none" : ""}, css: {"edit-pending": isEditPending}')
          form.col-md-9(data-bind='submit: $parent.handleEdit', role='form')
            input.form-control(type='text', data-bind='textInput: message, style: {"display": $parent.editingMessage() === id ? "" : "none"}, click: function(){}, clickBubble: false, event: {blur: $parent.handleEdit}')

    .container(style='display: none', data-bind='visible: true')
      form.infokala-message-form(data-bind='submit: sendMessage', role='form')
        .row
          .col-md-1.infokala-author-col
            input.form-control(data-bind='value: author')
          .infokala-message-col(data-bind='css: { "col-md-9": shouldShowMessageType(), "col-md-11": !shouldShowMessageType(), "infokala-message-col-middle": shouldShowMessageType() }')
            input.form-control(data-bind='value: message', placeholder='Viesti...')
          .col-md-2.infokala-message-type-col(data-bind='visible: shouldShowMessageType()')
            select.form-control(data-bind='options: config.messageTypes, optionsText: "name", optionsValue: "slug", value: manualMessageType')
        input.hidden(type='submit')
