doctype html
html
  head
    title Infokala
    link(rel='stylesheet', href='/static/infokala/bootstrap.min.css')
    link(rel='stylesheet', href='/static/infokala/infokala.css')
    script(defer, src='/static/infokala/infokala.js')
  body
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href) Infokala
        .collapse.navbar-collapse#base-navbar-collapse
          ul.nav.navbar-nav
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href, data-toggle='dropdown')
                span(data-bind='text: user.displayName')
                b.caret
              ul.dropdown-menu
                li: a(href='/logout') Kirjaudu ulos

    .container(data-bind='foreach: messages')
      .message
        .row
          small.col-md-12.text-muted 21:03:15
        .row
          strong.col-md-1(data-bind='text: author')
          .col-md-11(data-bind='text: message')

    .container
      form(data-bind='submit: sendMessage')
        .row
          .col-md-1: input(data-bind='value: author')
          .col-md-11: input(data-bind='value: message')
        input.hidden(type='submit')
