doctype html
html
  head
    meta(charset='UTF-8')
    title Infokala
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(defer, src='config.js')
    script(defer, src='/static/infokala/vendor.js')
    script(defer, src='/static/infokala/infokala.js')

  body
