doctype html
html
  head
    title Infokala
    script(defer, src='/static/infokala/infokala.js')
    link(rel='stylesheet', href='/static/infokala/infokala.css')
  body
    h1 Infokala
    p Hello, World!
