doctype html
html
  head
    title Infokala
    link(rel='stylesheet', href='/static/infokala/bootstrap.min.css')
    link(rel='stylesheet', href='/static/infokala/infokala.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(defer, src='/static/infokala/infokala.js')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href) Infokala
        .collapse.navbar-collapse#base-navbar-collapse
          ul.nav.navbar-nav
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href, data-toggle='dropdown')
                span(data-bind='text: user().displayName')
                b.caret
              ul.dropdown-menu
                li: a(href='/logout') Kirjaudu ulos

    .infokala-push-top

    .container(data-bind='foreach: messages')
      .infokala-message
        .row
          small.col-md-12.text-muted 21:03:15
        .row
          strong.col-md-1(data-bind='text: author')
          .col-md-11(data-bind='text: message')

    .container
      form.infokala-message-form(data-bind='submit: sendMessage', role='form')
        .row
          .col-md-1: input.form-control.infokala-author-field(data-bind='value: author')
          .col-md-9: input.form-control.infokala-message-field(data-bind='value: message', placeholder='Viesti...')
          .col-md-2
            select.form-control.infokala-message-type-field(data-bind='options: messageTypes, value: messageType')
        input.hidden(type='submit')
