doctype html
html
  head
    title Infokala
    link(rel='stylesheet', href='/static/infokala/bootstrap.min.css')
    link(rel='stylesheet', href='/static/infokala/infokala.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(defer, src='/static/infokala/infokala.js')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href) Infokala
        .collapse.navbar-collapse#base-navbar-collapse(style='display: none', data-bind='visible: true')
          ul.nav.navbar-nav(data-bind='foreach: messageTypeFilters')
            li(data-bind='css: { active: slug === $parent.activeFilter().slug }')
              a(href, data-bind='text: name, click: $parent.activeFilter')
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href, data-toggle='dropdown')
                span(data-bind='text: user().displayName')
                b.caret
              ul.dropdown-menu
                li: a(href='/logout') Kirjaudu ulos

    .infokala-push-top

    .container(style='display: none', data-bind='visible: true, foreach: visibleMessages')
      .infokala-message(data-bind='click: $parent.cycleMessageState, css: { "infokala-cycleable": $parent.isMessageCycleable($data) }')
        .row
          .col-md-12.text-muted
            span.label.label-default.pull-right(data-bind='visible: $parent.shouldShowMessageType(), text: messageType.name')
            .small(data-bind='text: formattedTime')
        .row(data-bind='css: {"infokala-inactive": !state.active}')
          strong.col-md-1(data-bind='text: author')
          .col-md-11
            span.label.pull-right(data-bind='text: state.name, css: state.labelClass, visible: $parent.isMessageCycleable($data)')
            span(data-bind='text: message')

    .container(style='display: none', data-bind='visible: true')
      form.infokala-message-form(data-bind='submit: sendMessage', role='form')
        .row
          .col-md-1.infokala-author-col
            input.form-control(data-bind='value: author')
          .infokala-message-col(data-bind='css: { "col-md-9": shouldShowMessageType(), "col-md-11": !shouldShowMessageType(), "infokala-message-col-middle": shouldShowMessageType() }')
            input.form-control(data-bind='value: message', placeholder='Viesti...')
          .col-md-2.infokala-message-type-col(data-bind='visible: shouldShowMessageType()')
            select.form-control(data-bind='options: messageTypes, optionsText: "name", optionsValue: "slug", value: manualMessageType')
        input.hidden(type='submit')
